
@{
    ViewBag.Title = "Index";
}

<h2>Restaurant</h2>
<html>
<head>
</head>
<body>
    <center>Restaurant Table Reservation</center>
    <br />
    <br />
    @Html.ActionLink("Reserve the Table", "addGuest")<br /><br />
    @Html.ActionLink("Update Bill", "UpdateBill")<br /><br />
    
</body>


</html>

