
@{
    ViewBag.Title = "UpdateBill";
}

<h2>UpdateBill</h2>
<form action="UpdateBill" method="post">
    <label>Enter the Id of the Guest to upadte</label>
    <input type="number" name="GuestId" required /><br />

    <label>Enter the Name of the Guest </label>
    <input type="text" name="GuestName" required /><br />
    <label>enter the Bill Amount</label>
    <input type="number" name="BillAmount" required /><br />



    <input type="submit" />

</form>

